.page-container {
    display: flex;
    flex: 1;

    .user-actions {
        display: flex;
        flex-direction: row;

        .selection-section {
            display: flex;
            flex-direction: row;

            .ship-selection-wrapper:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }

}